<form id="formIncluirHistorico" class="text-start">
    <div class="form-group form-group-default mt-3">
        <label>Título do Registro</label>
        <input id="Titulo" name="Titulo" type="text" class="form-control" required />
    </div>
    <div class="form-group form-group-default mt-3">
        <label>Data do Evento</label>
        <input id="DataEvento" name="DataEvento" type="date" class="form-control" />
    </div>
    <div class="form-group form-group-default mt-3">
        <label>Profissional Responsável</label>
        <input id="ProfissionalResponsavel" name="ProfissionalResponsavel" type="text" class="form-control" />
    </div>
    <div class="row mt-3">
        <div class="col-12">
            <div class="form-group form-group-default">
                <label>Descrição</label>
                <textarea class="form-control" name="Descricao" style="resize: none;" rows="4" id="Descricao"></textarea>
            </div>
        </div>
    </div>
</form>