<form id="formIncluirExperiencia" class="text-start">
    <div class="form-group form-group-default mt-3">
        <label>Empregador</label>
        <input id="Empregador" name="Empregador" type="text" class="form-control" required />
    </div>
    <div class="row mt-3">
        <div class="col-10">
            <div class="form-group form-group-default">
                <label>Cargo</label>
                <input id="Cargo" name="Cargo" type="text" class="form-control" required />
            </div>
        </div>
        <div class="col-2">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input c-pointer" type="checkbox" name="IsInformatica" role="switch" id="IsInformatica" value="true">
                <label class="form-check-label c-pointer" for="IsInformatica">Informática</label>
            </div>
        </div>
    </div>
    <div class="row mt-3">
        <div class="col-3">
            <div class="form-group form-group-default">
                <label>Início</label>
                <input id="Inicio" name="Inicio" type="date" class="form-control" onblur="calcularDuracao()" />
            </div>
        </div>
        <div class="col-3">
            <div class="form-group form-group-default">
                <label>Término </label>
                <input id="Termino" name="Termino" type="date" class="form-control" onblur="calcularDuracao()" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group form-group-default">
                <label>Duração</label>
                <input id="Duracao" name="Duracao" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-2">
            <div class="form-check form-switch mt-2">
                <input class="form-check-input c-pointer" type="checkbox" name="TrabalhoAtual" role="switch" id="TrabalhoAtual" value="true">
                <label class="form-check-label c-pointer" for="TrabalhoAtual">Trabalho Atual</label>
            </div>
        </div>
    </div>
    <div ceu lass="row">
        <div class="col-12">
            <div class="form-group form-group-default">
                <label>Descrição</label>
                <textarea class="form-control" name="Descricao" style="resize: none;" rows="4" id="Descricao"></textarea>
            </div>
        </div>
    </div>
</form>