@using Selecao.Domain.Entities
<form id="formIncluirFormacao" class="text-start">
    <div class="row">
        <div class="col-8">
            <div class="form-group form-group-default">
                <label>Instituição</label>
                <input id="InstituicaoEnsino" name="InstituicaoEnsino" type="text" class="form-control" />
            </div>
        </div>
        <div class="col-4">
            <div class="form-group form-group-default">
                <label>Ano de Conclusão</label>
                <input id="AnoConclusao" name="AnoConclusao" type="number" class="form-control" min="1900" max="2100" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-6">
            <div class="form-group form-group-default">
                <label>Titulo de Formação</label>
                <select class="form-select" name="Titulo" id="Titulo" required>
                    <option></option>
                    @foreach(var titulo in CandidatoFormacao.GetTituloFormacao())
                    {
                        <option value="@titulo">&nbsp;@titulo&nbsp;</option>
                    }
                </select>
            </div>
        </div>
        <div class="col-6">
            <div class="form-group form-group-default">
                <label>Area de Formação</label>
                <input id="Area" name="Area" type="text" class="form-control"/>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <div class="form-group form-group-default">
                <label>Descrição</label>
                <textarea class="form-control" name="Descricao" style="resize: none;" rows="4" id="Descricao"></textarea>
            </div>
        </div>
    </div>
</form>