@model SGHSSVidaPlus.MVC.Models.AgendamentoViewModel
@{
    ViewData["Title"] = "Gerenciar Tipos de Atendimento do Agendamento";
}

<div class="d-flex justify-content-between">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Agendamento: @Model.Descricao</h3>
        <ul class="breadcrumbs">
            <li class="nav-home active">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-controller="Agendamentos" asp-action="Index">
                    Agendamentos
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <p>Gerenciar Tipos de Atendimento</p>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <p>@Model.Descricao</p>
            </li>
        </ul>
    </div>
    <div>
        <button class="btn btn-stantard" onclick="gravarTiposAtendimento()">
            <span class="btn-label">
                <i class="fa fa-check me-1"></i>
            </span>
            Gravar
        </button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form id="formGerenciarTiposAtendimento">
            <input type="hidden" asp-for="Id" />
            <div class="form-group" id="tableTiposAtendimento">
                <partial name="_TiposAtendimentoAgendados" model="Model.TiposAtendimento" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Agendamentos/IncluirTiposAtendimento.js"></script>
}