@model List<SGHSSVidaPlus.Domain.Entities.Agendamento>
@{
    ViewData["Title"] = "Agendamentos";
}

<div class="d-flex justify-content-between">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Agendamentos</h3>
        <ul class="breadcrumbs">
            <li class="nav-home active">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <p>Agendamentos</p>
            </li>
        </ul>
    </div>

    @if (User.Identity.IsAuthenticated)
    {
        <div>
            @if (User.IsInRole("admin"))
            {
                <a class="btn btn-stantard" asp-controller="Agendamentos" asp-action="Incluir">
                    <span class="btn-label">
                        <i class="fa fa-plus me-1"></i>
                    </span>
                    Incluir
                </a>
            }
            else
            {
                <a class="btn btn-stantard" asp-controller="Agendamentos" asp-action="AgendarConsulta">
                    <span class="btn-label">
                        <i class="fa fa-plus me-1"></i>
                    </span>
                    Agendar Consulta
                </a>
            }
        </div>
    }
</div>

<div class="card">
    <form id="filtrosAgendamentos">
        <div class="card-body row">
            <div class="col-2">
                <div class="form-group form-group-default">
                    <label>Código</label>
                    <input name="Id" id="codigo" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-4">
                <div class="form-group form-group-default">
                    <label>Descrição</label>
                    <input id="descricao" name="Descricao" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group form-group-default">
                    <label>Profissional Responsável</label>
                    <input name="ProfissionalResponsavelId" id="profissionalResponsavelId" type="text" class="form-control" />
                </div>
            </div>
            <div class="col-3">
                <div class="form-group form-group-default">
                    <label>Status</label>
                    <select class="form-select" id="formGroupDefaultSelect" name="Encerrado">
                        <option value="">Todos</option>
                        <option value="false" selected>Aberto</option>
                        <option value="true">Encerrado</option>
                    </select>
                </div>
            </div>
            <div class="col-2 pt-2 text-end">
                <button type="reset" class="btn btn-danger">Limpar</button>
                <button type="submit" class="btn btn-stantard">Filtrar</button>
            </div>
        </div>
    </form>
    <div class="card-body overflow-auto" style="max-height: 62vh" id="tableAgendamentos">
        <partial name="_Agendamentos" model="@Model" />
    </div>
</div>

@section Scripts {
    <script src="~/js/Agendamentos/Index.js"></script>
}
