<form id="formIncluirCursoCertificacao" class="text-start">
    <div class="form-group form-group-default mt-3">
        <label>Título</label>
        <input id="Titulo" name="Titulo" type="text" class="form-control" required />
    </div>
    <div class="form-group form-group-default mt-3">
        <label>Instituição de Ensino</label>
        <input id="InstituicaoEnsino" name="InstituicaoEnsino" type="text" class="form-control" />
    </div>
    <div class="form-group form-group-default mt-3">
        <label>Área</label>
        <input id="Area" name="Area" type="text" class="form-control" />
    </div>
    <div class="form-group form-group-default mt-3">
        <label>Duração em Horas</label>
        <input id="DuracaoHoras" name="DuracaoHoras" type="number" step="0.1" class="form-control" />
    </div>
    <div class="form-group form-group-default mt-3">
        <label>Ano de Conclusão</label>
        <input id="AnoConclusao" name="AnoConclusao" type="text" class="form-control" />
    </div>
    <div class="form-group form-group-default mt-3">
        <label>Descrição</label>
        <textarea class="form-control" name="Descricao" style="resize: none;" rows="4" id="Descricao"></textarea>
    </div>
</form>