@using Selecao.Domain.Entities
@model Selecao.MVC.Models.SelecaoCandidatoViewModel;

@{
    ViewData["Title"] = "Incluir Candidato";

    var cargos = new List<string>
{
    "AGENTE DE REPARO",
    "ANALISTA DE CADASTRO JR",
    "ANALISTA ENGEN JR",
    "ANALISTA JR",
    "ASSISTENTE DE PCP",
    "COORDENADOR DE PCP",
    "GERENTE DE PRODUÇÃO",
    "LIDER DE PRODUÇÃO",
    "M APRENDIZ AUX PROD",
    "MONTADOR I",
    "MONTADOR II",
    "MONTADOR III",
    "SUPERVISOR DE PRODUÇÃO",
    "TAMPOGRAFO",
    "TESTADOR I",
    "TESTADOR III"
};

}

<div class="d-flex justify-content-between">
    <div class="page-header">
        <h3 class="fw-bold mb-3">Candidatos</h3>
        <ul class="breadcrumbs">
            <li class="nav-home active">
                <a asp-controller="Home" asp-action="Index">
                    <i class="fas fa-home"></i>
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <a asp-controller="Selecao" asp-action="Index">
                    Seleção
                </a>
            </li>
            <li class="separator">
                <i class="icon-arrow-right"></i>
            </li>
            <li class="nav-item">
                <p href="#">Incluir</p>
            </li>
        </ul>
    </div>
    <div>
        <button class="btn btn-stantard" onclick="gravarInclusao()">
            <span class="btn-label">
                <i class="fa fa-check me-1"></i>
            </span>
            Gravar
        </button>
    </div>
</div>
<div class="card">
    <div class="card-body">
        <form id="formIncluir">
            <div style="width: 98%;">
                <div class="row">
                    <div class="col-6">
                        <div class="form-group form-group-default">
                            <label>Cargo</label>
                            <select asp-for="Cargo" class="form-select" id="cargoSelect" required>
                                <option></option>
                                @foreach (var cargo in cargos)
                                {
                                    <option value="@cargo">@cargo</option>
                                }
                            </select>
                        </div>
                    </div>
                    <div class="col-2">
                        <div class="form-group form-group-default">
                            <label>Vagas</label>
                            <input type="number" class="form-control" asp-for="Vagas" required />
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="form-group form-group-default">
                            <label>Objetivo</label>
                            <textarea class="form-control" asp-for="Objetivo" rows="4" style="resize: none;"></textarea>
                        </div>
                    </div>
                </div>
        </form>
    </div>
</div>

@section Scripts {
    <script src="~/js/Selecao/Incluir.js"></script>
}