<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Seleção - @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link href="~/img/favicon.png" rel="shortcut icon" type="Img/x-icon">


    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/fonts.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/plugins.min.css" />
    <link rel="stylesheet" href="~/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="~/css/demo.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    @RenderBody()
    <script src="~/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/js/plugin/chart.js/chart.min.js"></script>
    <script src="~/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <script src="~/js/plugin/chart-circle/circles.min.js"></script>
    <script src="~/js/plugin/datatables/datatables.min.js"></script>
    <script src="~/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/js/plugin/jsvectormap/world.js"></script>
    <script src="~/js/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/kaiadmin.min.js"></script>
    <script src="~/js/setting-demo.js"></script>
    <script src="~/js/demo.js"></script>
    <script src="~/js/sqeetalert.min.js"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>

</html>