<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta charset="utf-8" />
    <title>Seleção | @ViewBag.Title</title>
    <meta content="width=device-width, initial-scale=1.0, shrink-to-fit=no" name="viewport" />
    <link href="~/img/favicon.png" rel="shortcut icon" type="Img/x-icon">


    <!-- CSS Files -->
    <link rel="stylesheet" href="~/css/fonts.min.css" />
    <link rel="stylesheet" href="~/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/plugins.min.css" />
    <link rel="stylesheet" href="~/css/kaiadmin.min.css" />
    <link rel="stylesheet" href="~/css/demo.css" />
    <link rel="stylesheet" href="~/lib/select2/select2.min.css">
    <link rel="stylesheet" href="~/lib/select2/select2-bootstrap-5-theme.min.css">
    <link href="~/css/sweetalert.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="~/css/site.css" />

</head>

<body>
    <div class="wrapper">
        <partial name="_SideBar" />
        <div class="main-panel">
            <div class="main-header">
                <partial name="_NavBar" />
            </div>
            <div class="container">
                <div class="page-inner">
                    <main role="main">
                        @RenderBody()
                    </main>
                </div>
            </div>
        </div>
        <!-- Custom template | don't include it in your project! -->
        @* <div class="custom-template">
        <partial name="_CustomTemplate" />
        </div> *@
        <!-- End Custom template -->
    </div>
    <script src="~/js/core/jquery-3.7.1.min.js"></script>
    <script src="~/js/core/popper.min.js"></script>
    <script src="~/js/core/bootstrap.min.js"></script>
    <script src="~/js/plugin/jquery-scrollbar/jquery.scrollbar.min.js"></script>
    <script src="~/js/plugin/chart.js/chart.min.js"></script>
    <script src="~/js/plugin/jquery.sparkline/jquery.sparkline.min.js"></script>
    <script src="~/js/plugin/chart-circle/circles.min.js"></script>
    <script src="~/js/plugin/datatables/datatables.min.js"></script>
    <script src="~/js/plugin/bootstrap-notify/bootstrap-notify.min.js"></script>
    <script src="~/js/plugin/jsvectormap/jsvectormap.min.js"></script>
    <script src="~/js/plugin/jsvectormap/world.js"></script>
    <script src="~/js/plugin/sweetalert/sweetalert.min.js"></script>
    <script src="~/js/kaiadmin.min.js"></script>
    <script src="~/js/setting-demo.js"></script>
    <script src="~/js/demo.js"></script>
    <script src="~/lib/select2/select2.full.min.js"></script>
    <script src="~/js/sqeetalert.min.js"></script>
    <script src="~/js/site.js"></script>

    @await RenderSectionAsync("Scripts", required: false)

    @if (TempData["success"] != null)
    {
        var mensagem = TempData["success"];
        <script>
            mensagem.success("@mensagem", "", 10);
        </script>
    }

    @if (TempData["error"] != null)
    {
        var mensagem = TempData["error"];
        <script>
            mensagem.error("@mensagem", "", 10);
        </script>
    }
</body>

</html>