@{
    string controller = "";
    if (ViewContext.RouteData.Values.ContainsKey("controller"))
    {
        controller = ViewContext.RouteData.Values["controller"].ToString().ToLower();
        switch (controller)
        {
            case "etapasselecao":
                controller = "selecao";
                break;

            case "":
                controller = "home";
                break;
        }
    }

}
<div class="sidebar" data-background-color="dark">
    <div class="sidebar-logo">
        <!-- Logo Header -->
        <div class="logo-header" data-background-color="dark">
            <a asp-controller="Home" asp-action="Index" class="logo">
                <img src="~/img/logo.svg" alt="navbar brand" class="navbar-brand img-logo-ini" height="20" />
            </a>
            <div class="nav-toggle">
                <button class="btn btn-toggle toggle-sidebar">
                    <i class="gg-menu-right"></i>
                </button>
                <button class="btn btn-toggle sidenav-toggler">
                    <i class="gg-menu-left"></i>
                </button>
            </div>
            <button class="topbar-toggler more">
                <i class="gg-more-vertical-alt"></i>
            </button>
        </div>
        <!-- End Logo Header -->
    </div>
    <div class="sidebar-wrapper scrollbar scrollbar-inner">
        <div class="sidebar-content">
            <ul class="nav nav-secondary">
                <li class="nav-item @(controller == "home" ? "active" : "")">
                    <a asp-controller="Home" asp-action="Index">
                        <i class="fas fa-home"></i>
                        <p>Início</p>
                    </a>
                </li>
                <li class="nav-section">
                    <span class="sidebar-mini-icon">
                        <i class="fa fa-ellipsis-h"></i>
                    </span>
                    <h4 class="text-section">Menus</h4>
                </li>
                <li class="nav-item @(controller == "candidatos" ? "active" : "")">
                    <a data-bs-toggle="collapse" href="#candidatos">
                        <i class="fas fa-user"></i>
                        <p>Candidatos</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="candidatos">
                        <ul class="nav nav-collapse">
                            <li>
                                <a asp-controller="Candidatos" asp-action="Index">
                                    <span class="sub-item">Candidatos</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item mt-2 @(controller == "selecao" ? "active" : "")">
                    <a data-bs-toggle="collapse" href="#selecao">
                        <i class="fas fa-tasks"></i>
                        <p>Seleção</p>
                        <span class="caret"></span>
                    </a>
                    <div class="collapse" id="selecao">
                        <ul class="nav nav-collapse">
                            <li>
                                <a asp-controller="Selecao" asp-action="Index">
                                    <span class="sub-item">Seleção</span>
                                </a>
                            </li>
                            <li>
                                <a asp-controller="EtapasSelecao" asp-action="Index">
                                    <span class="sub-item">Etapas</span>
                                </a>
                            </li>
                        </ul>
                    </div>
                </li>
                <li class="nav-item mt-2 @(controller == "admin" ? "active" : "")">
                    <a asp-controller="Admin" asp-action="Index">
                        <i class="fas fa-user-cog"></i>
                        <span class="sub-item">Usuários</span>
                    </a>
                </li>
            </ul>
        </div>
    </div>
</div>